@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
}

.flex {
  display: flex;
  display: -ms-flexbox;
}

.center__items {
  align-items: center;
  justify-content: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.container {
  min-height: 100vh;
  max-width: 100%;
  padding: 2rem 4vw;
}

.input__wrapper {
  width: 600px;
  padding: 5rem 1rem;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.search__wrapper {
  width: 100%;
  position: relative;
}

.input__wrapper input {
  width: 100%;
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  padding-left: 10.2rem;
}

.input__wrapper input:focus,
.input__wrapper input:focus-within {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.selected__code {
  position: absolute;
  left: 3rem;
}

.selected__code img,
.suggestions__list img {
  border-radius: 5px;
  margin-right: 0.3rem;
}

.suggestions__list .s_code {
  margin-right: 1rem;
}

.selected__code h4,
.suggestions__list h4 {
  font-size: 1.8rem;
}

.suggestions__list {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.suggestions__list > div {
  padding: 1.2rem;
  width: fit-content;
  cursor: pointer;
  width: 100%;
  align-items: center;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

.suggestions__list > div:hover {
  background: #f4f4f4;
}

.suggestions__list > div:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.suggestions__list input {
  border-radius: 28px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  padding-left: 0;
  border: 0.2pc solid rgba(0, 0, 0, 0.1);
}

.suggestions__list input:focus,
.suggestions__list input:focus-within {
  border: 0.3pc solid rgba(0, 0, 0, 0.1);
}

.suggestions__list input::placeholder {
  text-align: center;
}

@media screen and (max-width: 650px) {
  .input__wrapper {
    width: 100%;
  }
}
